.usuario, .tarefa {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.usuario, .tarefa p {
    padding: 0;
    margin: 0;
}

.tarefas form {
    display: flex;
    flex-direction: column;
}